/* 
Root
fonts
*/

:root {
    --mainGradient: linear-gradient(92deg, #E74747 17.73%, #700000 93.54%);
    --mainColor: #E74747;
    --mainDarkColor: #700000;
    --mainColorLight: #FDEDED;
    --secondaryColor: #FCC64C;
    --smooth: all 0.45s cubic-bezier(0.4, 0, 0, 1);
    --border-radius: 8px;
    --smoothT: cubic-bezier(0.4, 0, 0, 1);
}

@font-face {
    font-family: 'Graphik';
    src: url(./fonts/Graphik-Light.woff) format('woff'),
    url(./fonts/Graphik-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    font-weight: 600;
    src: url(./fonts/Graphik-Semibold.woff) format('woff'),
    url(fonts/Graphik-Semibold.woff2) format('woff2');
}

@font-face {
    font-family: 'Graphik';
    font-weight: 500;
    src: url(./fonts/GraphikWeb-Medium.woff) format('woff'),
    url(./fonts/GraphikWeb-Medium.woff2) format('woff2');
}



body {
    font-family: 'Graphik', Helvetica, sans-serif;
    /* background-color: #000 !important; */
    /* color: #fff; */
    font-weight: normal;
    font-weight: 300;
}

div[data-barba='container'] {
   margin-top: 109px;
}


/* Btns */

a.btn-primary {
    margin-top: 40px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 6px;
}

.white-arrow > * path {
    stroke: white !important;
}


/* Fonts */

.f0, h1.f0, h2.f0, h3.f0, h4.f0, h5.f0, h6.f0 {
    font-size: 5.8rem;
    line-height: 1;
}

.page-starter h1.f0 {
    font-size: 5.8vw;
}

.lh-1, .lh-1 * {
    line-height: 1;
}

.lh-1-2, .lh-1-2 * {
    line-height: 1.2;
}

/* Colors */

.main-color-bg {
    background: var(--mainColor);
}

.main-color {
    color: var(--mainColor);
}

.main-dark-color {
    color: var(--mainDarkColor);
}

.main-dark-color-bg {
    background: var(--mainDarkColor);
}

.main-gradient-bg {
    background: var(--mainGradient);
}

.secondary-gradient-bg {
    background: var(--secondaryGradient);
}

.gradient-text {
    background-image: var(--mainGradient);
    -webkit-background-clip: text; /* For older versions of webkit-based browsers */
    background-clip: text; /* Apply the text as the clipping mask */
    color: transparent; /* Make the text transparent */
  }

  .pre-load > div:not(:last-child) {
    width: 33.33333%;
}

/* Header */

.has-items {
    display: flex;
    align-items: center;
    gap: 2;
}

.has-items::after {
    position: relative;
    /* top: 0; 
    right: 0; */
    content: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='black'/%3E%3C/svg%3E%0A");
    color: black;
    display: block;
    padding-right: 5px;
    transition: transform 350ms cubic-bezier(.455, .03, .515, .955);
    transform-origin: center center;
}   

.has-items:hover::after {
    color: var(--mainColor);
    transform: rotate(180deg);
}


  /* Reusable Content */


  /* Solutions Grid */

  .solution-icon img {
    height: 200px !important;
    width: auto !important;
  }


  /* About ClearComp */

  .about-cc-text span {
    transition: var(--smooth);
  }

.about-cc-text:hover span {
    opacity: 0.3;

}

.about-cc-text  .underline:hover {
    opacity: 1;
}

.line-iceberg {
    height: 1px;
    position: absolute;
    width: 100%;
    border: 1px dashed var(--mainDarkColor);
}

.iceberg-svg path {
    transition: var(--smooth);
    cursor: pointer;
}

.iceberg-svg:hover path {
    opacity: 0.2;
}

.iceberg-svg path:hover {
    opacity: .7;
}

.iceberg-overlay {
    transition: var(--smooth);
}

/* Steps */


.step-inner.not-active {
    flex: 1 ;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #fff;
}

.step-inner.not-active .step-inner-content {
    opacity: 0;
    width: 0;
}

.step-inner.not-active .step-inner-content p {
    height: 0;
}

.step-inner .step-n {
    flex: 1 0 0 ;
    text-align: center;
}


.step-inner.not-active .text-active {
    width: 0;
    opacity: 0;
    margin-left: 0;
    display: none;
}

.step-inner:not(.not-active) {
    flex: 0 0 55%;
    padding-left: 0px;
}

.step-inner:not(.not-active) .step-n-holder {
    border-top: 1px solid #000;
}


.step-inner:not(.not-active) .step-n-holder .text-holder {
    opacity: 0;
}


.not-active:hover {
    background-color: var(--mainColorLight);
    cursor: pointer;
}